<div class="basic-float-container">
  <sd-controls-input [dropdownLabel]="'Min Coupon'" [dropdownList]=selectedFirstList [dropdownSelected]="selectedFirst" [dropdownWidth]="80">
  </sd-controls-input>

  <sd-controls-input [dropdownLabel]="'Max Coupon'" [dropdownList]=selectedFirstList [dropdownSelected]="selectedFirst" [dropdownWidth]="80" dropdownDisabled=true>
  </sd-controls-input>
  <!--<fm-filter-dropdown dropdown-width="160px" dropdown-label="Product:"-->
                      <!--dropdown-list="controls.settings.productGroupList"-->
                      <!--dropdown-selected="controls.settings.productGroupSelected"-->
                      <!--dropdown-disabled="controls.settings.disabledControls">-->
  <!--</fm-filter-dropdown>-->
</div>

<!--<div class="basic-float-container">-->
  <!--<fm-filter-dropdown dropdown-width="80px" dropdown-label="Min Coupon:"-->
                      <!--dropdown-list="controls.settings.couponList"-->
                      <!--dropdown-selected="controls.settings.couponListMinSelected"-->
                      <!--dropdown-disabled="controls.settings.disabledControls">-->
  <!--</fm-filter-dropdown>-->
<!--</div>-->

<!--<div class="basic-float-container">-->
  <!--<fm-filter-dropdown dropdown-width="80px" dropdown-label="Max Coupon:"-->
                      <!--dropdown-list="controls.settings.couponList"-->
                      <!--dropdown-selected="controls.settings.couponListMaxSelected"-->
                      <!--dropdown-disabled="controls.settings.disabledControls">-->
  <!--</fm-filter-dropdown>-->
<!--</div>-->

<!--<div class="basic-float-container">-->
  <!--<fm-filter-dropdown dropdown-width="75px" dropdown-label="Story:"-->
                      <!--dropdown-list="controls.settings.storyList"-->
                      <!--dropdown-selected="controls.settings.storySelected"-->
                      <!--dropdown-disabled="controls.settings.disabledControls">-->
  <!--</fm-filter-dropdown>-->
<!--</div>-->

<!--<div class="basic-float-container">-->
  <!--<button data-ng-disabled="controls.settings.disabledControls" fm-blur-me class="btn btn-primary btn-sm" data-ng-click="controls.applyControlSettings()">Apply-->
  <!--</button>-->
<!--</div>-->
<!--</div>-->
<!--<div class="basic-float-container control-container-operation-type">-->
  <!--<div class="basic-float-container">-->
    <!--<fm-filter-dropdown dropdown-width="160px" dropdown-label="Operation Type:"-->
                        <!--dropdown-list="controls.settings.operationTypeList"-->
                        <!--dropdown-selected="controls.settings.operationTypeSelected"-->
                        <!--dropdown-disabled="controls.disabledFromBanner"-->
    <!--&gt;-->
    <!--</fm-filter-dropdown>-->
  <!--</div>-->
<!--</div>-->

<!--<div class="basic-float-container control-container-operation-type">-->
  <!--<div style="float: left; margin-right:5px;">-->
    <!--<div style="font-size: 18px; height: 34px; text-align: center; display: table-cell; vertical-align:middle;">Email Grid:</div>-->
  <!--</div>-->
  <!--<div ng-style="{'float':'left', 'margin-right':'10px' }" >-->
    <!--<button data-ng-disabled="controls.initiatedEmailGrid" fm-blur-me class="btn btn-primary btn-sm" data-ng-click="controls.emailGrid()">Send-->
    <!--</button>-->
  <!--</div>-->

  <!--<div style="clear:both;"></div>-->
<!--</div>-->



<!--</div>-->
<div class="basic-float-cancel-container"></div>

<!--<div data-ng-disabled="controls.settings.disabledControls">-->
  <!--<div class="btn-group" data-toggle="buttons" data-ng-disabled="controls.settings.disabledControls">-->
    <!--<label class="btn btn-default btn-tab"-->
           <!--ng-class="{active:option.id==controls.settings.viewTypeRangeSelected}"-->
           <!--ng-repeat="option in controls.settings.viewTypeRangeOptions"-->
           <!--btn-radio="option.id"-->
           <!--ng-click="controls.changeViewType(option.id)"-->
           <!--data-ng-disabled="controls.settings.disabledControls"-->
    <!--&gt;{{option.label}}-->
    <!--</label>-->
  <!--</div>-->
<!--</div>-->
